footer p {
    text-align: center;
    padding: 30px 0px;
    color: #fff;
    font-weight: 300;
}
footer p a {
    color: var(--color-light);
    transition: all .3s;
    text-decoration: underline;
}
footer p a:hover {
    color: var(--color-primary);
}