.most-popular-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: calc(var(--margin-primary)/ 5);
}
.most-popular-item{
    flex: 1 2 20%;
}
.card-box {
    padding: calc(var(--padding-primary) / 2);
    background-color: var(--color-dark);
    border-radius: var(--border-radius-primary);
}
.most-popular-item img{
    width: 100%;
    border-radius: calc(var(--border-radius-primary)/2);
    margin-bottom: calc(var(--margin-primary)/2);
}
.most-popular-item-content{
    display: flex;
    justify-content: space-between;

}
.most-popular-item-title {
    font-size: var(--font-size-normal);
    line-height: 1.5rem;
}

.most-popular-item-content ul li{
    display: flex;
    justify-content: space-between;

}